body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    text-align: center; /* Centrare tutto il testo */
}

.title {
    font-size: 2.5em;
    color: #333;
}

.subtitle {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 20px;
}

hr {
    border: 1px solid #ccc;
    margin: 20px 0;
}

#articles-list {
    margin-top: 20px;
}

#articles-list ul {
    list-style-type: none;
    padding: 0;
}

#articles-list li {
    margin: 10px 0;
}

#articles-list a {
    color: #199fca;
    text-decoration: none;
}

#articles-list a:hover {
    color: #a9a9a9;
}
