@import url('https://yuridiprodo.github.io/font/fonts.css');

body {
    font-family: 'iA Writer Quattro', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
}

.title {
    font-size: 2.5em;
    color: #000000; /* Colore del testo */
}

.subtitle {
    font-size: 1.5em;
    color: #000000; /* Colore del testo */
    margin-bottom: 20px;
}

hr {
    border: 1px solid #ccc;
    margin: 20px 0;
}

.menu {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.menu a,
.menu a:visited {
    color: #199fca; /* Colore del link */
    text-decoration: none;
}

.menu a:hover {
    color: #a9a9a9; /* Colore del link al passaggio del mouse */
}

.menu-icon {
    font-size: 1.5em;
    cursor: pointer;
}

/* Nuova regola per ridurre la dimensione dei titoli degli articoli */
h1 {
    font-size: 1.5em; /* Riduce la dimensione del titolo a circa 24px */
    margin: 0.5em 0; /* Spazio sopra e sotto il titolo */
}

/* Stile per il contenuto degli articoli */
.article-content {
    text-align: justify; /* Giustifica il testo */
    margin: 0 220px; /* Margini laterali su desktop */
}

/* Rimuovi margini sui dispositivi mobili */
@media (max-width: 768px) {
    .article-content {
        margin: 0; /* Nessun margine su dispositivi mobili */
    }
}

/* Regole per le immagini in tutto il sito */
img {
    max-width: 100%;  /* Limita la larghezza massima al 100% del contenitore */
    height: auto;     /* Mantiene le proporzioni dell'immagine */
    display: block;   /* Centra l'immagine nel suo contenitore */
    margin: 0 auto;   /* Aggiunge margini automatici per centrare */
}
