@font-face {
    font-family: 'iA Writer Quattro';
    src: url('https://yuridiprodo.github.io/font/iAWriterQuattroS-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'iA Writer Quattro';
    src: url('https://yuridiprodo.github.io/font/iAWriterQuattroS-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'iA Writer Quattro';
    src: url('https://yuridiprodo.github.io/font/iAWriterQuattroS-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'iA Writer Quattro';
    src: url('https://yuridiprodo.github.io/font/iAWriterQuattroS-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
